target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
*.log*
*.jar
*.js
*.iml
.merge_file_*
.project
example.log.*
example.log
# old skool
.svn
# osx noise
.DS_Store
logs/
.idea/
*.iml
